<form id="signup-form">
    <div class="form-group row">
        <label for="email-input-login" class="labelHeader col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" id="email-input-signup">
        </div>
    </div>
    <div class="form-group row">
        <label for="username-input-login" class="labelHeader col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" id="username-input-signup">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="labelHeader col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password-input-signup">
        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="loginButton">Sign Up</button>
    </div>
</form>
<script src="../js/signup.js"></script>